<div class="lead">
<div class="media">
  <div class="media-left">
    <a href="#">
      <h3><span class="label label-warning">30 zł</span></h3>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Bartek</h4>
    <h5>Na rower</h5>
  </div>
</div>
</div>